body ,div{
    /*重製邊界*/
    margin: 0;
    padding: 0;
}


.dis-box{
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    width: 100%;
    padding-top: 40px;
}
.message-box{
    max-width: 1200px;
    width: 100%;
    border: 1px solid rgb(56, 56, 56);
    padding: 20px 20px 20px 20px;
    margin: 40px;
}
.title{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 26px;
}
.txt{
    margin-bottom: 10px;
}
.message-img{
    object-fit: cover;
    width: 150px;height: auto;
}