<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/style.css">
    <title>message board</title>
</head>
<body>
    <div class="dis-box">
        <div class="message-box">
            <div class="title">發表一篇圖文</div>
            <div class="txt">文字內容<input type="text" class="message" id="inputMessage"></div>
            <div class="txt" >圖片檔案<input type="file" class="image-file" id="imageInput"></div>
            <button class="txt" id="uploadButton">送出</button>
            <hr>
            <div class="root">
                <!-- <div>
                    <div class="txt">3213151</div>
                    <img src="" class="message-img">
                    <hr>
                </div> -->
            </div>
        </div>
    </div>
    <script src="/public/JS/index.js"></script>
</body>
</html>